<div class="blur">
	
	<h1 class="main-title">Weather</h1>
	<button class="main-get-weather" {{action 'getWeather' myLocation}}>Get Local Weather</button>
	{{input class="main-other-locales" type="text" placeholder="Other Locales..." value=locale}}

</div>