<div class="local-weather">
	<div class="local-weather-header">
		<h2 class="local-weather-city">City:</h2>
		<i class="wi wi-sunset current-conditions"></i>
		<div class="local-weather-temperature">
			<h3 class="local-weather-temperature-text">{{results.currently.temperature}}&deg;</h3>
		</div>
	</div>

</div>