@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';
$gutter: 0em;
@import 'bower_components/neat/app/assets/stylesheets/neat';

$mobile: 980px;

$light-gray: rgb(200,200,200);
$medium-gray: rgb(170,170,170);
$blue: rgb(132, 200, 230);
$black: rgb(3, 6, 17);
$orange: rgb(246, 133, 36);
$green: rgb(108, 165, 111);
$red: rgb(239, 24, 32);
$yellow: rgb(255, 241, 60);

* {
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
}

body {
	background-image: url('Rainy-Weather_2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	font-family: sans-serif;
	height: 100%;
	width: 100%;
}

.blur {
	background-color: rgba(80,80,80, .5);
	height: 100%;
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
}

.main-title {
	color: rgba(255,255,255, .9);
	font-family: 'Marcellus SC', serif;
	font-size: 8em;
	margin-bottom: .3em;
	margin-top: 20%;
}

.main-get-weather {
	background: linear-gradient($orange 1px, $red);
	border: none;
	border-radius: 10px;
	color: rgba(0,0,0,.7);
	display: block;
	font-size: 1.6em;
	height: 50px;
	line-height: 50px;
	margin: auto;
	margin-bottom: 1em;
	transition: all .4s linear;
	width: 30%;
}

.main-get-weather:hover {
	box-shadow: inset 0 0 5px $black;
	color: white;
	cursor: pointer;
}

.main-other-locales {
	border: 2px solid $black;
	border-radius: 5px;
	box-shadow: inset 0 2px 3px rgba(0,0,0,.3);
	font-size: 1em;
	height: 40px;
	padding: 1em;
	width: 20%;
}

/**********************************
Local Weather
**********************************/

.background {
	height: 100%;
	position: absolute;
	width: 100%;
}

.weather {
	// @include outer-container(980px);
	height: 100%;
	position: fixed;
	left: 0;
	right: 0;
	width: 100%;
}

.cold {
	background: linear-gradient(rgba(0, 50, 80, .7), rgba(120,120,120,.7));
}

.cool {
	background: linear-gradient(rgba(0, 250, 250, .7), rgba(200,200,200,.7));
}

.warm {
	background: linear-gradient(rgba(80,80,80,.7), rgba(180, 80, 0, .7), rgba(220, 150, 30, .7));
}

.hot {
	background :linear-gradient(rgba(20,20,20,.8), rgba(255, 34, 0, .8), rgba(235, 151, 20, .8));
}

.today-weather-container {
	@include span-columns(9);
	@include shift(1.5);
	border-bottom: 3px solid rgba(0,0,0,.5);
	color: rgba(250,250,250,.9);
	margin-top: 2em;
	padding-bottom: 2em;
}

.today-weather-temperature {
	@include span-columns(4 of 9);
	@include shift(2.5);
	font-size: 15em;
	position: relative;
	text-align: center;
}

.today-weather-temperature span {
	font-size: .5em;
	font-weight: 100;
	position: absolute;
	right: 0;
	top: 10%;
}

.today-weather-conditions {
	@include span-columns(4 of 9);
	@include shift(2.5);
	text-align: center;
}

.today-weather-conditions .condition-icon {
	font-size: 6em;
	margin-bottom: .2em;
}

.condition-text {
	font-size: 2em;
}

.future-weather-container {
	@include span-columns(12);
	margin-top: 2em;
}

.tomorrow-weather-container {
	background-color: rgba(200,200,200,.4);
	box-shadow: 0 0 10px rgba(0,0,0,.6);
	font-size: 2em;
	height: 50px;
	width: 100%;
}

.tomorrow-weather-container li {
	// display: inline-block;
	line-height: 50px;
}

.tomorrow-heading {
	@include span-columns(2);
	@include shift(1);
}

.tomorrow-icon {
	@include span-columns(1);
}

.tomorrow-weather-conditions {
	@include span-columns(5);
	@include shift(1);
	font-size: .7em;
}

.tomorrow-weather-max-min {
	@include span-columns(2);
	line-height: 50px;
}

.clear {
	background-image: url('sunny-day.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.rainy {
	background-image: url('rainy-day.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.windy {
	background-image: url('windy.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.night {
	background-image: url('night.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.foggy {
	background-image: url('foggy.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.snowy {
	background-image: url('snowy.jpg');
	background-size: cover;
	background-position: 30% 30%;
	background-repeat: no-repeat;
}

.cloudy {
	background-image: url('cloudy.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.night-cloudy {
	background-image: url('night-cloudy.jpg');
	background-size: cover;
	background-repeat: no-repeat;	
}