<div class="blur">
	
	<h1 class="main-title">Weather</h1>
	{{#link-to 'weather' model.latitude model.longitude class="main-get-weather"}}Get Local Weather{{/link-to}}
	
		{{search-box action='search'}}

</div>